#%RAML 1.0
title: API-Cours-WebService
version: v1
baseUri: https://api.cours-webservice.arrobe.fr/v1
protocols:
  - https

/geocoder:
  description: "Returns GPS coordinates"
  /{address}/{postalcode}/{city}:
    description: "Returns GPS coordinates from address + postalcode + city"
    uriParameters:
      address:
        type: "string"
        description: "Address"
        example: "3bis Rue de la Condamine"
      postalcode:
        type: "string"
        description: "Postal Code"
        example: "38610"
      city:
        type: "string"
        description: "City"
        example: "Gières"
    get:
      responses:
        200:
          body:
            application/json:
              type: !include json/v1-geocoder-address-pastalcode-city-200-type.json
              example: !include json/v1-geocoder-address-pastalcode-city-200-example.json
        404:
          body:
            application/json:
              type: !include json/v1-geocoder-address-pastalcode-city-404-type.json
              example: !include json/v1-geocoder-address-pastalcode-city-404-example.json
  /{query}:
    description: "Returns GPS coordinates from a raw address"
    uriParameters:
      query:
        type: "string"
        description: "Query string"
        example: "EPSI Campus de Grenoble"
    get:
      responses:
        200:
          body:
            application/json:
              type: !include json/v1-geocoder-query-200-type.json
              example: !include json/v1-geocoder-query-200-example.json
        404:
          body:
            application/json:
              type: !include json/v1-geocoder-query-404-type.json
              example: !include json/v1-geocoder-query-404-example.json
/places/{latitude}/{longitude}/{range}:
  description: "Returns a set of places inside range using the latitude ang longitude center"
  uriParameters:
    latitude:
      type: "number"
      description: "latitude in degress inside interval [-90;90]"
      example: 45.18766625
    longitude:
      type: "number"
      description: "longitude in degrees inside interval [-180;180]"
      example: 5.77868795590624
    range:
      type: "number"
      description: "range in kilometers inside interval [0;100]"
      example: 10
  get:
    responses:
      200:
        body:
          application/json:
            type: !include json/v1-places-latitude-longitude-range-200-type.json
            example: !include json/v1-places-latitude-longitude-range-200-example.json
      400:
        body:
          application/json:
            type: !include json/v1-places-latitude-longitude-range-4xx-type.json
            example: !include json/v1-places-latitude-longitude-range-400-example.json
      406:
        body:
          application/json:
            type: !include json/v1-places-latitude-longitude-range-4xx-type.json
            example: !include json/v1-places-latitude-longitude-range-406-example.json
      416:
        body:
          application/json:
            type: !include json/v1-places-latitude-longitude-range-4xx-type.json
            example: !include json/v1-places-latitude-longitude-range-416-example.json

/category:
  description: "Returns all categories"
  get:
    responses:
      200:
        body:
          application/json:
            type: !include json/v1-category-200-type.json
            example: !include json/v1-category-200-example.json
/category/{id}:
  description: "Returns a category"
  uriParameters:
    id:
      type: "number"
      description: "category's id"
      example: 1
  get:
    responses:
      200:
        body:
          application/json:
            type: !include json/v1-category-id-200-type.json
            example: !include json/v1-category-id-200-example.json
      404:
        body:
          application/json:
            type: !include json/v1-category-id-4xx-type.json
            example: !include json/v1-category-id-404-example.json
      406:
        body:
          application/json:
            type: !include json/v1-category-id-4xx-type.json
            example: !include json/v1-category-id-404-example.json
